{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>G.B | Update</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
    </head>

    <body>
    <br><br>
    <div class ="container">
        <h1>Update Grocery Item</h1>
        <br>
        <form action="viewupdate" method='post'>
          
          {% csrf_token %}
          <input type="hidden" name="id" value="{{item.id}}" />

          <div class="form-group">
            <label>Item Name</label>
            <input value="{{item.name}}" type="text" class="form-control" name="itemName" >
          </div>
          <div class="form-group">
            <label>Item Quantity</label>
            <input type="text" class="form-control" value="{{item.qty}}" name="qty" placeholder="Enter Item Quantity">
          </div>


            <div class="form-group">
                <label>Item Status</label>
                <select class="form-control" name="status">
                  <option {% ifequal item.status 'PENDING' %} selected='selected' {% endifequal %}>PENDING</option>
                  <option {% ifequal item.status 'NOT AVAILABLE' %} selected='selected' {% endifequal %}>NOT  AVAILABLE</option>
                  <option {% ifequal item.status 'BOUGHT' %}        selected='selected' {% endifequal %}>BOUGHT</option>
                </select>
              </div>

            <div class="form-group">
                <label>Date</label>
                <input value="{{item.date|date:"Y-m-d" }}" required class="form-control text-left" type="date" name="date">
              </div>
  
            <br>
                <button type="submit" class="btn btn-dark">Update Item</button>
        </form>
    

    </div>

    </body>
</html>